pkgbase = lucidor
	pkgdesc = A program for reading and handling EPUB e-books and OPDS catalogs
	pkgver = 0.9.15
	pkgrel = 1
	url = https://lucidor.org/lucidor/
	install = lucidor.install
	arch = i686
	arch = x86_64
	license = GPL3
	depends = palemoon
	depends = desktop-file-utils
	source = lucidor_0.9.15.tar.gz::http://lucidor.org/get.php?id=lucidor_0.9.15.tar.gz
	md5sums = e898ccbd335820bdf6eeee916462a399

pkgname = lucidor

